# Brogrammer – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Brogrammer
#
# Base palette
# bg:  #131313
# fg:  #d6dbe5
# grey:#d6dbe5

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #d6dbe5 #131313
color error         #f81118 #131313
color message       #2a84d2 #131313
color indicator     #131313 #f3bd09
color tree          #d6dbe5 #131313

########################################
# Status Bar
########################################

color status        #d6dbe5 #d6dbe5

########################################
# Index View
########################################

color index         #d6dbe5 #131313
color index_number  #d6dbe5 #131313
color index_author  #2a84d2 #131313
color index_subject #d6dbe5 #131313
color index_date    #ecba0f #131313
color index_flags   #de352e #131313

color index #f81118 #131313 "~D"
color index #f3bd09 #131313 "~T"

########################################
# Headers
########################################

color hdrdefault    #d6dbe5 #131313
color header #2a84d2 #131313 "^From:"
color header #2a84d2 #131313 "^To:"
color header #ecba0f #131313 "^Subject:"
color header #ecba0f #131313 "^Date:"
color header #0f7ddb #131313 "^Reply-To:"
color header #0f7ddb #131313 "^Message-ID:"

########################################
# Body
########################################

color body          #d6dbe5 #131313 ".*"
color quoted0       #1dd361 #131313
color quoted1       #0f7ddb #131313
color signature     #d6dbe5 #131313
color body #1081d6 #131313 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #131313 #ecba0f

########################################
# Compose
########################################

color compose_header #2a84d2 #131313
color compose_security_encrypt #de352e #131313
color compose_security_sign #1dd361 #131313
color compose_security_both #0f7ddb #131313

########################################
# Diff / Patch
########################################

color body #131313 #1dd361 "^\\+.*"
color body #131313 #f81118 "^-.*"
color body #131313 #ecba0f "^@@.*"

# vim: ft=neomuttrc
