# Darkside – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Darkside
#
# Base palette
# bg:  #222324
# fg:  #bababa
# grey:#4c4c4c

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #bababa #222324
color error         #e8341c #222324
color message       #1c98e8 #222324
color indicator     #222324 #efd64b
color tree          #4c4c4c #222324

########################################
# Status Bar
########################################

color status        #bababa #4c4c4c

########################################
# Index View
########################################

color index         #bababa #222324
color index_number  #4c4c4c #222324
color index_author  #1c98e8 #222324
color index_subject #bababa #222324
color index_date    #f2d42c #222324
color index_flags   #e05a4f #222324

color index #e8341c #222324 "~D"
color index #efd64b #222324 "~T"

########################################
# Headers
########################################

color hdrdefault    #bababa #222324
color header #1c98e8 #222324 "^From:"
color header #1c98e8 #222324 "^To:"
color header #f2d42c #222324 "^Subject:"
color header #f2d42c #222324 "^Date:"
color header #3d97e2 #222324 "^Reply-To:"
color header #3d97e2 #222324 "^Message-ID:"

########################################
# Body
########################################

color body          #bababa #222324 ".*"
color quoted0       #77b869 #222324
color quoted1       #3d97e2 #222324
color signature     #4c4c4c #222324
color body #387cd3 #222324 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #222324 #f2d42c

########################################
# Compose
########################################

color compose_header #1c98e8 #222324
color compose_security_encrypt #e05a4f #222324
color compose_security_sign #77b869 #222324
color compose_security_both #3d97e2 #222324

########################################
# Diff / Patch
########################################

color body #222324 #77b869 "^\\+.*"
color body #222324 #e8341c "^-.*"
color body #222324 #f2d42c "^@@.*"

# vim: ft=neomuttrc
