# Embark – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Embark
#
# Base palette
# bg:  #1e1c31
# fg:  #eeffff
# grey:#585273

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #eeffff #1e1c31
color error         #f0719b #1e1c31
color message       #57c7ff #1e1c31
color indicator     #1e1c31 #ffb378
color tree          #585273 #1e1c31

########################################
# Status Bar
########################################

color status        #eeffff #585273

########################################
# Index View
########################################

color index         #eeffff #1e1c31
color index_number  #585273 #1e1c31
color index_author  #57c7ff #1e1c31
color index_subject #eeffff #1e1c31
color index_date    #ffe9aa #1e1c31
color index_flags   #f02e6e #1e1c31

color index #f0719b #1e1c31 "~D"
color index #ffb378 #1e1c31 "~T"

########################################
# Headers
########################################

color hdrdefault    #eeffff #1e1c31
color header #57c7ff #1e1c31 "^From:"
color header #57c7ff #1e1c31 "^To:"
color header #ffe9aa #1e1c31 "^Subject:"
color header #ffe9aa #1e1c31 "^Date:"
color header #63f2f1 #1e1c31 "^Reply-To:"
color header #63f2f1 #1e1c31 "^Message-ID:"

########################################
# Body
########################################

color body          #eeffff #1e1c31 ".*"
color quoted0       #2ce592 #1e1c31
color quoted1       #63f2f1 #1e1c31
color signature     #585273 #1e1c31
color body #1da0e2 #1e1c31 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #1e1c31 #ffe9aa

########################################
# Compose
########################################

color compose_header #57c7ff #1e1c31
color compose_security_encrypt #f02e6e #1e1c31
color compose_security_sign #2ce592 #1e1c31
color compose_security_both #63f2f1 #1e1c31

########################################
# Diff / Patch
########################################

color body #1e1c31 #2ce592 "^\\+.*"
color body #1e1c31 #f0719b "^-.*"
color body #1e1c31 #ffe9aa "^@@.*"

# vim: ft=neomuttrc
