# Idea – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Idea
#
# Base palette
# bg:  #202020
# fg:  #adadad
# grey:#ffffff

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #adadad #202020
color error         #fc5256 #202020
color message       #437ee7 #202020
color indicator     #202020 #ffff0b
color tree          #ffffff #202020

########################################
# Status Bar
########################################

color status        #adadad #ffffff

########################################
# Index View
########################################

color index         #adadad #202020
color index_number  #ffffff #202020
color index_author  #437ee7 #202020
color index_subject #adadad #202020
color index_date    #ccb444 #202020
color index_flags   #fc7072 #202020

color index #fc5256 #202020 "~D"
color index #ffff0b #202020 "~T"

########################################
# Headers
########################################

color hdrdefault    #adadad #202020
color header #437ee7 #202020 "^From:"
color header #437ee7 #202020 "^To:"
color header #ccb444 #202020 "^Subject:"
color header #ccb444 #202020 "^Date:"
color header #248887 #202020 "^Reply-To:"
color header #248887 #202020 "^Message-ID:"

########################################
# Body
########################################

color body          #adadad #202020 ".*"
color quoted0       #98b61c #202020
color quoted1       #248887 #202020
color signature     #ffffff #202020
color body #6c9ced #202020 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #202020 #ccb444

########################################
# Compose
########################################

color compose_header #437ee7 #202020
color compose_security_encrypt #fc7072 #202020
color compose_security_sign #98b61c #202020
color compose_security_both #248887 #202020

########################################
# Diff / Patch
########################################

color body #202020 #98b61c "^\\+.*"
color body #202020 #fc5256 "^-.*"
color body #202020 #ccb444 "^@@.*"

# vim: ft=neomuttrc
