# Poimandres Storm – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Poimandres Storm
#
# Base palette
# bg:  #252b37
# fg:  #a6accd
# grey:#a6accd

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #a6accd #252b37
color error         #d0679d #252b37
color message       #89ddff #252b37
color indicator     #252b37 #fffac2
color tree          #a6accd #252b37

########################################
# Status Bar
########################################

color status        #a6accd #a6accd

########################################
# Index View
########################################

color index         #a6accd #252b37
color index_number  #a6accd #252b37
color index_author  #89ddff #252b37
color index_subject #a6accd #252b37
color index_date    #fffac2 #252b37
color index_flags   #d0679d #252b37

color index #d0679d #252b37 "~D"
color index #fffac2 #252b37 "~T"

########################################
# Headers
########################################

color hdrdefault    #a6accd #252b37
color header #89ddff #252b37 "^From:"
color header #89ddff #252b37 "^To:"
color header #fffac2 #252b37 "^Subject:"
color header #fffac2 #252b37 "^Date:"
color header #add7ff #252b37 "^Reply-To:"
color header #add7ff #252b37 "^Message-ID:"

########################################
# Body
########################################

color body          #a6accd #252b37 ".*"
color quoted0       #5de4c7 #252b37
color quoted1       #add7ff #252b37
color signature     #a6accd #252b37
color body #add7ff #252b37 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #252b37 #fffac2

########################################
# Compose
########################################

color compose_header #89ddff #252b37
color compose_security_encrypt #d0679d #252b37
color compose_security_sign #5de4c7 #252b37
color compose_security_both #add7ff #252b37

########################################
# Diff / Patch
########################################

color body #252b37 #5de4c7 "^\\+.*"
color body #252b37 #d0679d "^-.*"
color body #252b37 #fffac2 "^@@.*"

# vim: ft=neomuttrc
