# Pro – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Pro
#
# Base palette
# bg:  #000000
# fg:  #f2f2f2
# grey:#666666

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #f2f2f2 #000000
color error         #990000 #000000
color message       #2009db #000000
color indicator     #000000 #e5e500
color tree          #666666 #000000

########################################
# Status Bar
########################################

color status        #f2f2f2 #666666

########################################
# Index View
########################################

color index         #f2f2f2 #000000
color index_number  #666666 #000000
color index_author  #2009db #000000
color index_subject #f2f2f2 #000000
color index_date    #999900 #000000
color index_flags   #e50000 #000000

color index #990000 #000000 "~D"
color index #e5e500 #000000 "~T"

########################################
# Headers
########################################

color hdrdefault    #f2f2f2 #000000
color header #2009db #000000 "^From:"
color header #2009db #000000 "^To:"
color header #999900 #000000 "^Subject:"
color header #999900 #000000 "^Date:"
color header #00e5e5 #000000 "^Reply-To:"
color header #00e5e5 #000000 "^Message-ID:"

########################################
# Body
########################################

color body          #f2f2f2 #000000 ".*"
color quoted0       #00d900 #000000
color quoted1       #00e5e5 #000000
color signature     #666666 #000000
color body #0000ff #000000 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #000000 #999900

########################################
# Compose
########################################

color compose_header #2009db #000000
color compose_security_encrypt #e50000 #000000
color compose_security_sign #00d900 #000000
color compose_security_both #00e5e5 #000000

########################################
# Diff / Patch
########################################

color body #000000 #00d900 "^\\+.*"
color body #000000 #990000 "^-.*"
color body #000000 #999900 "^@@.*"

# vim: ft=neomuttrc
