# Spacegray Eighties – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Spacegray Eighties
#
# Base palette
# bg:  #222222
# fg:  #bdbaae
# grey:#555555

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal        #bdbaae #222222
color error         #ec5f67 #222222
color message       #5486c0 #222222
color indicator     #222222 #ffd256
color tree          #555555 #222222

########################################
# Status Bar
########################################

color status        #bdbaae #555555

########################################
# Index View
########################################

color index         #bdbaae #222222
color index_number  #555555 #222222
color index_author  #5486c0 #222222
color index_subject #bdbaae #222222
color index_date    #fec254 #222222
color index_flags   #ff6973 #222222

color index #ec5f67 #222222 "~D"
color index #ffd256 #222222 "~T"

########################################
# Headers
########################################

color hdrdefault    #bdbaae #222222
color header #5486c0 #222222 "^From:"
color header #5486c0 #222222 "^To:"
color header #fec254 #222222 "^Subject:"
color header #fec254 #222222 "^Date:"
color header #83e9e4 #222222 "^Reply-To:"
color header #83e9e4 #222222 "^Message-ID:"

########################################
# Body
########################################

color body          #bdbaae #222222 ".*"
color quoted0       #93d493 #222222
color quoted1       #83e9e4 #222222
color signature     #555555 #222222
color body #4d84d1 #222222 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search #222222 #fec254

########################################
# Compose
########################################

color compose_header #5486c0 #222222
color compose_security_encrypt #ff6973 #222222
color compose_security_sign #93d493 #222222
color compose_security_both #83e9e4 #222222

########################################
# Diff / Patch
########################################

color body #222222 #93d493 "^\\+.*"
color body #222222 #ec5f67 "^-.*"
color body #222222 #fec254 "^@@.*"

# vim: ft=neomuttrc
