# Aurora – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Aurora
#
# Base palette
# bg:  #23262e
# fg:  #ffca28
# grey:#4f545e

########################################
# Global Defaults
########################################

color normal color220 color235
color error color197 color235
color message color20 color235
color indicator color235 color221
color tree color240 color235

########################################
# Status Bar
########################################

color status color220 color240

########################################
# Index View
########################################

color index color220 color235
color index_number color240 color235
color index_author color20 color235
color index_subject color220 color235
color index_date color221 color235
color index_flags color197 color235

color index color197 color235 "~D"
color index color221 color235 "~T"

########################################
# Headers
########################################

color hdrdefault color220 color235
color header color20 color235 "^From:"
color header color20 color235 "^To:"
color header color221 color235 "^Subject:"
color header color221 color235 "^Date:"
color header color43 color235 "^Reply-To:"
color header color43 color235 "^Message-ID:"

########################################
# Body
########################################

color body color220 color235 ".*"
color quoted0 color113 color235
color quoted1 color43 color235
color signature color240 color235
color body color43 color235 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search color235 color221

########################################
# Compose
########################################

color compose_header color20 color235
color compose_security_encrypt color197 color235
color compose_security_sign color113 color235
color compose_security_both color43 color235

########################################
# Diff / Patch
########################################

color body color235 color113 "^\\+.*"
color body color235 color197 "^-.*"
color body color235 color221 "^@@.*"

# vim: ft=neomuttrc
