# Embers Dark – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Embers Dark
#
# Base palette
# bg:  #16130f
# fg:  #a39a90
# grey:#5a5047

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal color247 color233
color error color95 color233
color message color60 color233
color indicator color233 color238
color tree color239 color233

########################################
# Status Bar
########################################

color status color247 color239

########################################
# Index View
########################################

color index color247 color233
color index_number color239 color233
color index_author color60 color233
color index_subject color247 color233
color index_date color65 color233
color index_flags color101 color233

color index color95 color233 "~D"
color index color238 color233 "~T"

########################################
# Headers
########################################

color hdrdefault color247 color233
color header color60 color233 "^From:"
color header color60 color233 "^To:"
color header color65 color233 "^Subject:"
color header color65 color233 "^Date:"
color header color95 color233 "^Reply-To:"
color header color95 color233 "^Message-ID:"

########################################
# Body
########################################

color body color247 color233 ".*"
color quoted0 color238 color233
color quoted1 color95 color233
color signature color239 color233
color body color8 color233 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search color233 color65

########################################
# Compose
########################################

color compose_header color60 color233
color compose_security_encrypt color101 color233
color compose_security_sign color238 color233
color compose_security_both color95 color233

########################################
# Diff / Patch
########################################

color body color233 color238 "^\\+.*"
color body color233 color95 "^-.*"
color body color233 color65 "^@@.*"

# vim: ft=neomuttrc
