# Grape – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Grape
#
# Base palette
# bg:  #171423
# fg:  #9f9fa1
# grey:#59516a

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal color247 color234
color error color197 color234
color message color69 color234
color indicator color234 color150
color tree color59 color234

########################################
# Status Bar
########################################

color status color247 color59

########################################
# Index View
########################################

color index color247 color234
color index_number color59 color234
color index_author color69 color234
color index_subject color247 color234
color index_date color112 color234
color index_flags color204 color234

color index color197 color234 "~D"
color index color150 color234 "~T"

########################################
# Headers
########################################

color hdrdefault color247 color234
color header color69 color234 "^From:"
color header color69 color234 "^To:"
color header color112 color234 "^Subject:"
color header color112 color234 "^Date:"
color header color152 color234 "^Reply-To:"
color header color152 color234 "^Message-ID:"

########################################
# Body
########################################

color body color247 color234 ".*"
color quoted0 color71 color234
color quoted1 color152 color234
color signature color59 color234
color body color147 color234 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search color234 color112

########################################
# Compose
########################################

color compose_header color69 color234
color compose_security_encrypt color204 color234
color compose_security_sign color71 color234
color compose_security_both color152 color234

########################################
# Diff / Patch
########################################

color body color234 color71 "^\\+.*"
color body color234 color197 "^-.*"
color body color234 color112 "^@@.*"

# vim: ft=neomuttrc
