# Idea – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Idea
#
# Base palette
# bg:  #202020
# fg:  #adadad
# grey:#ffffff

########################################
# Global Defaults
########################################

color normal color145 color234
color error color203 color234
color message color68 color234
color indicator color234 color11
color tree color15 color234

########################################
# Status Bar
########################################

color status color145 color15

########################################
# Index View
########################################

color index color145 color234
color index_number color15 color234
color index_author color68 color234
color index_subject color145 color234
color index_date color179 color234
color index_flags color203 color234

color index color203 color234 "~D"
color index color11 color234 "~T"

########################################
# Headers
########################################

color hdrdefault color145 color234
color header color68 color234 "^From:"
color header color68 color234 "^To:"
color header color179 color234 "^Subject:"
color header color179 color234 "^Date:"
color header color30 color234 "^Reply-To:"
color header color30 color234 "^Message-ID:"

########################################
# Body
########################################

color body color145 color234 ".*"
color quoted0 color106 color234
color quoted1 color30 color234
color signature color15 color234
color body color75 color234 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search color234 color179

########################################
# Compose
########################################

color compose_header color68 color234
color compose_security_encrypt color203 color234
color compose_security_sign color106 color234
color compose_security_both color30 color234

########################################
# Diff / Patch
########################################

color body color234 color106 "^\\+.*"
color body color234 color203 "^-.*"
color body color234 color179 "^@@.*"

# vim: ft=neomuttrc
