# Neon – NeoMutt adaptation
#
# Generated automatically from iTerm2-Color-Schemes
# Source: Neon
#
# Base palette
# bg:  #14161a
# fg:  #00fffc
# grey:#686868

set color_directcolor = yes

########################################
# Global Defaults
########################################

color normal color14 color233
color error color203 color233
color message color20 color233
color indicator color233 color228
color tree color242 color233

########################################
# Status Bar
########################################

color status color14 color242

########################################
# Index View
########################################

color index color14 color233
color index_number color242 color233
color index_author color20 color233
color index_subject color14 color233
color index_date color228 color233
color index_flags color203 color233

color index color203 color233 "~D"
color index color228 color233 "~T"

########################################
# Headers
########################################

color hdrdefault color14 color233
color header color20 color233 "^From:"
color header color20 color233 "^To:"
color header color228 color233 "^Subject:"
color header color228 color233 "^Date:"
color header color123 color233 "^Reply-To:"
color header color123 color233 "^Message-ID:"

########################################
# Body
########################################

color body color14 color233 ".*"
color quoted0 color120 color233
color quoted1 color123 color233
color signature color242 color233
color body color62 color233 "(https?|ftp)://[^ ]+"

########################################
# Search
########################################

color search color233 color228

########################################
# Compose
########################################

color compose_header color20 color233
color compose_security_encrypt color203 color233
color compose_security_sign color120 color233
color compose_security_both color123 color233

########################################
# Diff / Patch
########################################

color body color233 color120 "^\\+.*"
color body color233 color203 "^-.*"
color body color233 color228 "^@@.*"

# vim: ft=neomuttrc
